.normal_text {
  color: #e7e7e7;
  font-size: 16px;
  margin-top: 42px;
}

.card {
  background-color: #e7e7e7;
  // width: 24rem;
  height: 16rem;
  position: relative;
  background-size: cover;
  cursor: pointer;
  border-radius: 16px;
}
