<div class="container">
  <div class="row" style="padding: 16px;">

    <div class="profile_pic"></div>

    <p class="normal_text">Hi, my name is<br><span class="big_text">Marcos Campos.</span></p>
      <p class="normal_text">Senior Frontend Developer focused in
      mobile solutions using Android, Flutter,
      Unity and Angular.
      <br><br>
      You can know me more visiting my links
      below and can contact me for jobs and
      have a coffee.
    </p>

    <button class="button_action" routerLink="/projects">see my projects</button>
    <button class="button_action" (click)="openLink('https://docs.google.com/document/d/1l0sAHWd-DTFeOVdOf1S-qu12HyxUHIG-0t5-4PxKhE4/edit?usp=sharing')">resume</button>

    <app-footer></app-footer>
  </div>

</div>
