<div class="design">
  <div class="sky" [ngClass]="currentClass">
    <app-star [size]="random_size(3)" [horizontal]="random_x()" [vertical]="random_y()" *ngFor="let item of stars; index as i;" [impar]="random_par()"></app-star>
  </div>
  <div class="montain"></div>
  <div class="montain2"></div>
  <div class="ice"></div>
  <div class="montain2" style="left: 380px; bottom: -20px; border-bottom-color: #0f1c22; z-index: -1;"></div>
  <div class="montain2" style="left: 1800px; bottom: -20px; border-bottom-color: #0f1c22; z-index: -1;"></div>
  <div class="montain3"></div>
  <div class="montain3" style="left: 1000px; bottom: -100px; z-index: 1;border-bottom-color: hsl(200, 35%, 14%);"></div>
</div>
