<div class="container" style="padding: 32px;">

  <div class="sky">
    <app-star [size]="random_size(3)" [horizontal]="random_x()" [vertical]="random_y()" *ngFor="let item of stars; index as i;" [impar]="random_par()"></app-star>
  </div>

  <div class="row">

    <div class="profile_pic"></div>

    <p class="normal_text">Hi, my name is<br><span class="big_text">Marcos Campos.</span></p>
      <p class="normal_text">Senior Frontend Developer focused in
      mobile solutions using Android, Flutter,
      Unity and Angular.
      <br><br>
      You can know me more visiting my pages
      below and can contact me for jobs and
      interviews.
    </p>

    <button class="button_action">see my portifólio</button>

    <app-footer></app-footer>
</div>
