<div class="container">
  <div class="design">
    <div class="sky">
      <app-star [size]="random_size(3)" [horizontal]="random_x()" [vertical]="random_y()" *ngFor="let item of stars; index as i;" [impar]="random_par()"></app-star>
    </div>
    <div class="montain"></div>
    <div class="montain2"></div>
    <div class="ice"></div>
    <div class="montain2" style="left: 380px; bottom: -20px; border-bottom-color: #0f1c22; z-index: -1;"></div>
    <div class="montain2" style="left: 1800px; bottom: -20px; border-bottom-color: #0f1c22; z-index: -1;"></div>
    <div class="montain3"></div>
    <div class="montain3" style="left: 1000px; bottom: -100px; z-index: 1;border-bottom-color: hsl(200, 35%, 14%);"></div>
  </div>

  <div class="row" style="padding: 16px;">

    <div class="profile_pic"></div>

    <p class="normal_text">Hi, my name is<br><span class="big_text">Marcos Campos.</span></p>
      <p class="normal_text">Senior Frontend Developer focused in
      mobile solutions using Android, Flutter,
      Unity and Angular.
      <br><br>
      You can know me more visiting my links
      below and can contact me for jobs and
      have a coffee.
    </p>

    <button class="button_action" (click)="openLink('')">see my projects</button>
    <button class="button_action" (click)="openLink('https://docs.google.com/document/d/1l0sAHWd-DTFeOVdOf1S-qu12HyxUHIG-0t5-4PxKhE4/edit?usp=sharing')">resume</button>

    <app-footer></app-footer>
  </div>

</div>
