.star {
  background-color: white;
  border-radius: 180px;
  animation: blink10 60s linear infinite ;
}

.star2 {
  background-color: white;
  border-radius: 180px;
  animation: blink20 60s linear infinite ;
}

@keyframes blink10 {
  0%, 100% {
    background-color: rgb(255, 255, 255, 1);
  }
  30%, 70% {
    background-color: rgba(226, 226, 226, 0);
  }
}

@keyframes blink20 {
  0%, 100% {
    background-color: rgb(255, 255, 255, 1);
  }
  40%, 70% {
    background-color: rgba(226, 226, 226, 0);
  }
}
