<div class="container">
  <div class="row" style="margin-left: 16px;">
    <button class="button_action" routerLink="">back</button>

    <p class="normal_text"><b>+7 years</b> working as Software Engineer
       with expertise using <b>Kotlin, Java, C#, TypeScript</b> and <b>Dart</b>.
        I also love Game and Graphic Design constantly working in Personal Projects for continuous
         learn process like this page
    </p>

    <app-list-card-visualization *ngFor="let item of contentList" [data]="item"></app-list-card-visualization>

  </div>
</div>
